* {
	color: var(--font-color);
}

body, div {
	margin: 0;
	padding: 0;
}
body {
	font-family: capitalize;
	font-size: 16px;
	background-color: var(--background-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body {
	height: 60%;
}

img { 
	float: left; 
	margin-right: 30px;
	width: 15%;
}
th { width: 150px;}
ul { list-style-type:disc }

#entete-de-page {
	padding: 3px;
	height: 130px;
	background-color: var(--background-color-2);
	font-size: 35px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bloc-menu {
	height: 75px;
	float: center;
	width: 100%;
	background-color: brown;
}

#block-menu table{
	border: none;
	text-align: center;
}

#contenu {
	padding: 7px;
	background-color: var(--background-color);
	margin-left: 10px;
	height: 100%;
	font-size: x-large;
}

img {
	width: 400px;
}

#infos * {
	color: mediumblue;
	font-style: italic;
}

#infos {
	vertical-align: bottom;
	position: relative;
	top: 10%;
}

#pied-de-page {
	padding: 5px;
	background-color: var(--background-color);
	font-size: 11px;
}

a.btn{
	text-decoration: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;	
	font-size: 23px;
}

a.btn:hover{
	color: brown;
	background-color: var(--background-color-2);
	transition: 500ms;
}

a.btn:not(hover){
	color: var(--background-color-2);
	background-color: brown;
	transition: 500ms;
}













html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.theme-light {
  --background-color: lightgrey;
  --background-color-2: white;
  --font-color: #000000;
}
.theme-dark {
  --background-color: #525252;
  --background-color-2: #313131;
  --font-color: #CA3E47;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  color: var(--font-color);
  font-family: sans-serif;
}
.container button {
  color: var(--font-color);
  background: var(--background-color);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
