h1{
  font-size: 4vh;
}

h2{
  font-size: 3.5vh;
}

h3{
  font-size: 2.75vh;
}

li{
  font-size: 2.5vh;
  margin-left: 3vh;
}

p{
  font-size: 2.5vh;
}

* {
	color: var(--font-color);
}

body, div {
	margin: 0;
	padding: 0;
}
body {
	font-family: capitalize;
	font-size: 1.6vh;
	background-color: var(--background-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body {
	height: 60%;
}

img { 
	float: left; 
	margin-right: 3vh;
	width: 15%;
}

th { width: 15vh;}
ul { list-style-type:disc }

#entete-de-page {
	padding: 0.3vh;
	height: 15vh;
	background-color: var(--background-color-2);
	font-size: 3vh;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bloc-menu {
	height: 8vh;
	float: center;
	width: 100%;
	background-color: brown;
}

#block-menu table{
	border: none;
	text-align: center;
}

#contenu {
	padding: 0.7vh;
	background-color: var(--background-color);
	margin-left: 1vh;
	height: 100%;
	font-size: x-large;
}

img {
	width: 40vh;
}

#infos * {
	color: var(--info-color);
	font-style: italic;
}

#infos {
	vertical-align: bottom;
	position: absolute;
	bottom: 5vh;
}

#pied-de-page {
	padding: 0.5vh;
	background-color: var(--background-color);
	font-size: 1.1vh;
}

a.btn{
	text-decoration: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding-left: 0.1vh;
	padding-right: 0.1vh;
	padding-top: 1.25vh;
	padding-bottom: 1vh;
	font-size: 2.5vh;

  text-decoration: none;
  background: linear-gradient(to top, var(--font-color) 0%, var(--font-color) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size 0.35s;
}

a.btn:hover {
  background-size: 100% 100%;
}








.theme-light {
  --background-color: lightgrey;
  --background-color-2: white;
  --font-color: #000000;
  --info-color: mediumblue;
}
.theme-dark {
  --background-color: #525252;
  --background-color-2: #313131;
  --font-color: #ffffff;
  --info-color: rgb(0, 191, 255);
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  color: var(--font-color);
  font-family: sans-serif;
}
.container button {
  color: var(--font-color);
  background: var(--background-color);
  padding: 1vh 2vh;
  border: 0;
  border-radius: 0.5vh;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 6vh;
  height: 3.4vh;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 4vh;
  left: 0vh;
  bottom: 0.4vh;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0vh 1.5vh #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(2.4vh);
  -ms-transform: translateX(2.4vh);
  transform: translateX(2.4vh);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4vh;
}

.slider.round:before {
  border-radius: 50%;
}
